<div class="container">
  <div class="logo footer-logo">
    <div class="logo-icon">
      <img src="{{basePath}}images/noun_Tent_2517.svg" alt="tent image for logo" />
    </div>
    <div class="logo-text">
      <span class="logo-title"
        >Sleep<span class="logo-accent">Outside</span></span
      >
    </div>
  </div>
  <p class="footer-desc">
    Technical equipment for enthusiasts of minimalist camping and respect for
    natural spaces.
  </p>
  <div class="footer-bottom">
    &copy; 2026 ⛺ SleepOutside ⛺ WDD 330 ⛺ BYU-Idaho for BYU-Pathway
    Worldwide Online
  </div>
</div>
